@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary text-white font-mono;
}

@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
.animate-blink {
  display: inline-block;
  width: 1px;
  background: currentColor;
  animation: blink 1s infinite;
}
